html{
    font-family: Georgia;
    box-sizing: border-box;
    line-height: 1.5;
    color: #2f2d13;
    font-size: 1.125rem;
    text-align: left;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

header {
  background-color: #ffe500;
  margin: 0;
}

body{
  margin: 0;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 3rem;
  color: #b20953;
  text-align: center;
}

h2 {
  font-family: 'Sigmar One', cursive;
  font-size: 1.875rem;
  color: #b20953;
}

footer {
  font-size: .75rem;
  background-color: #ffe500;
  margin: 0;
}


.cards a {
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  margin: .2em .3em;
  text-align: center;
  background: #b2a212;
}

.cards li {
  display: inline-block;
  border-radius: 4px;
  padding:

}

a.highlight {
  background-color: #b20953;
}
